h1 {
    display: block;
    box-sizing: border-box;
    background: url("https://lh3.googleusercontent.com/h4pg5pgdhiJNlpVNMuiJFtPuV0DxGTEFEeKxbxYs5UrhnRCn-yNNQwm4t-luPartRu47oLeGr4j02VZnGFfvJgKtgek5DbyfWpji8Kta5lrWAZ5ZOu0KbkwjzIBZahTydOnTwVjmBOFcAxSHjTq5pWRIXyM5HGaROYArdQeXxaEJ8WjQH_92gSSYofVz8sZfe65QxQ1ZFmRaIFvBxkXs0eWzNAx6mWGnNLoDgzebK0KSm20So7_LnktsQutVvfEydItdG97whzAztaBjYF-EBLHF9Xf5CbyKSxVW4J1Neb9sHoYlRYca6IuvCPt6vtIKIAM6oQaF5zp7rXgUM-ZYeaLoNcHOFH2uLqdkiC8osmgt0it4zUWFdaGFuzHOxzzS7eSbwo1duNZMSXhWDeRC7MiuZUSLP2Yd_J-2rjal4GPftJcgPkHoT3ybZ6RM8KaQaFqIRkgkAAPKNUvrw0RlGHlNjSWZtcXzxKc2k1vhHz8jn4eJiKR9Im84mXDM-AJBQIcr9tMRgI0EyNu56jwx3Mdf8_sODngAoPx-aJEItHJrrNO_ZMyJDqmSXVEEs2c3N5DZtjx1otR4LdQBxFgzV--JQ_-Dwk2gW4UEBz2U2AkEqmwo9D71acpxKk3L8tXNjuaiI16OMGj5qRRtg7d6kFd9w-DmZ8BZ=w160-h165-no") no-repeat;
    width: 160px; 
    height: 160px;
    padding-left: 180px;
}

* {
    box-sizing: border-box;
  }
  
  .box {
    margin: 2em auto;
    width: 960px;
  }

div {
    border-top: 2px solid black;
}

body {
    background-color: mintcream;
}

a:link, a:active, a:hover, a:visited {
    text-decoration: none;
  }

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: gray;
  }