/* CSS for About Me */

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: white;
  background-color: #4aaaa5
}

header {
  width: 960px;
  margin: 0 auto;
}

hr {
  border-top: 2px solid black;
}

h2 {
  color: #4aaaa5;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}
  
li {
  float: right;
}


li a:hover {
  background-color: lightgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

* {
    box-sizing: border-box;
  }

  .box {
    width: 400px;
    float: left;
  }

  .box2 {
    font-size: 18px;
    float: right;
    text-align: right;
    padding-top: 40px;
  }

  .box3 {
    margin: 2em auto;
    width: 960px;
    display: block;
    clear: both;
  }

  .box4 {
    width: 960px;
  }

body {
    background-color: mintcream;
}

a:link, a:active, a:hover, a:visited {
    text-decoration: none;
  }
  
  /* CSS for Contact */

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: teal;
  }
  
  .container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 640px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 980px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

     /* CSS For Portfolio */
    

     .main {
      max-width: 1000px;
      margin: auto;
    }
     
    .line {
      margin: 8px -16px;
    }
    
    /* Add padding BETWEEN each column */
    .line,
    .line > .column {
      padding: 8px;
    }
    
    /* Create four equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
    }
    
    /* Clear floats after rows */ 
    .line:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Content */
    .article {
      background-color: lightslategray;
      padding: 10px;
    }

    footer { 
      background-color: grey;
      color: white;
      display: block;
      text-align: center;
      font-weight: bold;
      width: 960px;
      margin: 2em auto;
      height: 50px;
    }

